{% extends 'user/base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% block content %}
    <div class="content-section d-flex justify-content-center" >
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <h5 style="text-align: center;">Book Form</h5>
                {{form.media}}
                {% bootstrap_form form %}
            </fieldset>
            <div class="form-group text-center">
                <button class="btn btn-outline-dark" type="submit">Add Book</button>
            </div>
        </form>
    </div>
{% endblock content %}
{% block javascript %}
<script>
    $(function() {
      $( ".datepicker" ).datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: "1900:2021",
        // You can put more options here.
  
      });
    });
    </script>
{% endblock %}
 